.w-34r {
  width: 34rem;
}

w-1200 {
  width: 150rem;
}

.shadow-filter {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem
}

h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem
}

h4 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem
}

.w-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.h-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.create-post-wrapper ol {
  list-style-type: decimal;
  margin-left: 0.75rem;
}

.create-post-wrapper ul {
  list-style-type: disc;
  margin-left: 0.75rem;
}

/* post-full-width */

.post-full-width {
  min-width: 15rem;
  --tw-bg-opacity: 1;
  background-color: rgba(233, 255, 222, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  cursor: pointer;
  margin-bottom: 1rem;
  --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}

.post-full-width .post-preview-image {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .post-full-width .post-preview-image {
    height: 10rem;
  }
}

.post-full-width .post-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  padding-bottom: 0.5rem;
}

.post-full-width .post-body {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 8rem;
}

.paragraph:first-letter {
  margin-left: 1rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-full-width .post-title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .post-full-width .post-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.post-full-width .post-footer {
  display: flex;
  justify-content: flex-start;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  width: 100%;
}

@media (min-width: 640px) {
  .post-full-width .post-footer {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.post-full-width  .post-nickname {
  font-weight: 500;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 150, 136, var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .post-full-width  .post-nickname {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.post-full-width .post-views {
  height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  width: 2.5rem;
}

/* end post-full-width  */

/* post in search */

.search-wrapper {
  width: 30vw;
  min-width: 70px;
}

.result-wrapper {
  right: 35vw;
}

@media (min-width: 500px) {
  .result-wrapper {
    right: auto;
    left: 0px
  }
}

.post-in-search {
  --tw-bg-opacity: 1;
  background-color: rgba(233, 255, 222, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 8rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  position: relative;
  --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  width: 100%;
  z-index: 10;
  min-width: 330px;
  -webkit-animation: search_animation 0.6s ease-out;
          animation: search_animation 0.6s ease-out;
}

@media (min-width: 640px) {
  .post-in-search {
    min-width: 400px;
  }
}

.post-in-search .post-body {
  display: block;
  height: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-right: 2rem;
  overflow: hidden;
  vertical-align: text-top;
  width: auto;
}

@media (min-width: 1280px) {
  .post-in-search .post-body {
    margin-right: 0px;
  }
}

.post-in-search .post-body .post-title {
  display: block;
  max-height: 100%;
  padding-right: 0.75rem;
  text-overflow: ellipsis;
}

.post-in-search .post-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  max-width: 100%;
  padding-right: 1.25rem;
}

.post-in-search .post-info > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.625rem * var(--tw-space-x-reverse));
  margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}

.post-in-search .post-info {
  margin-top: auto;
}

@media (min-width: 640px) {
  .post-in-search .post-info {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1024px) {
  .post-in-search .post-info {
    display: flex;
    align-items: baseline;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.post-in-search .post-nickname {
  cursor: pointer;
  height: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 0.5rem;
  margin-top: auto;
  margin-right: auto;
  --tw-text-opacity: 1;
  color: rgba(0, 150, 136, var(--tw-text-opacity));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1280px) {
  .post-in-search .post-nickname {
    height: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.post-in-search .post-views {
  height: 1.25rem;
  margin-left: 0.25rem;
  margin-top: auto;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  width: 50%;
}

@media (min-width: 640px) {
  .post-in-search .post-views {
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .post-in-search .post-views {
    margin-right: 0.625rem;
    width: auto;
  }
}

.post-in-search .post-star {
  height: 1.5rem;
  margin-left: auto;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@media (min-width: 1024px) {
  .post-in-search .post-star {
    bottom: 0.5rem;
    top: auto;
  }
}

/* end post in search */

/* right sidebar post */

.right-sidebar-post {
  --tw-bg-opacity: 1;
  background-color: rgba(233, 255, 222, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 6rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 18rem;
}

.right-sidebar-post .post-image {
  border-radius: 0.25rem;
  height: 83.333333%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 83.333333%;
}

.right-sidebar-post .post-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  width: 66.666667%;
}

.right-sidebar-post .post-title {
  font-weight: 600;
  height: 83.333333%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  padding-right: 0.75rem;
  text-overflow: ellipsis;
  width: 100%;
}

.right-sidebar-post .post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* end right sidebar post */

.shadow-filter:hover {
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

body, html {
  font-family: 'Montserrat Alternates', sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 150, 136, var(--tw-bg-opacity))
}

.w-1\/10 {
  width: 10%;
}

.login-pop-up {
  width: 95vw;
  left: 2.5vw;
  max-height: 80vh;
}

@media (min-width: 640px) {
  .login-pop-up {
    width: 26rem;
    left: calc(47vw - 13.5rem);
  }
}

html {
  scroll-behavior: smooth;
  /*scrollbar-color: #458245 #714826;     !* «цвет ползунка» «цвет полосы скроллбара» *!*/
  /*scrollbar-width: thin;*/
}

::-webkit-scrollbar {
  width: .8rem; /* ширина для вертикального скролла */
  --tw-bg-opacity: 1;
  background-color: rgba(0, 137, 123, var(--tw-bg-opacity));
}

body::-webkit-scrollbar-track {
  margin: 45px 0 20px;
}

/* ползунок скроллбара */

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgba(233, 255, 222, var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: inset 0 0 2px 1px rgba(0, 137, 123, 1);
  border: none;
  outline: none;
  /*background: rgba(233, 255, 222, 1);*/
  width: .6rem;
  border-radius: 4rem;
}

.invert-scrollbar::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: rgba(233, 255, 222, var(--tw-bg-opacity));
}

.invert-scrollbar::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 150, 136, var(--tw-bg-opacity));
}

header {
  min-width: 18rem;
  max-height: 45px;
  width: 100%;
  color: rgba(233, 255, 222, 1);
  background: #00897B;
}

.mint-font {
  font-family: 'Righteous', cursive;
}

#logo {
  --tw-text-opacity: 1;
  color: rgba(233, 255, 222, var(--tw-text-opacity));
  font-family: 'Righteous', cursive;
}

.w-inherit {
  width: inherit;
}

.user_menu {
  border-radius: 9999px;
  cursor: pointer;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 2rem;
}

a {
  --tw-text-opacity: 1;
  color: rgba(0, 150, 136, var(--tw-text-opacity));
}

a:hover {
  --tw-text-opacity: 1;
  color: rgba(52, 211, 153, var(--tw-text-opacity));
}

.bg-dark-green {
  background-color: #046D63;
}

#search::-moz-placeholder {
  font-weight: bold;
  color: rgba(233, 255, 222, 0.58);
}

#search:-ms-input-placeholder {
  font-weight: bold;
  color: rgba(233, 255, 222, 0.58);
}

#search::placeholder {
  font-weight: bold;
  color: rgba(233, 255, 222, 0.58);
}

#blackout {
  height: calc(100vh - 45px);
  margin-top: 45px;
  transition: 0.3s;
  z-index: 1;
}

@-webkit-keyframes search_animation {
  from {
    margin-top: -300px;
    opacity: 0;
  }

  80% {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  to {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    opacity: 1;
  }
}

@keyframes search_animation {
  from {
    margin-top: -300px;
    opacity: 0;
  }

  80% {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  to {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    opacity: 1;
  }
}

.side-info-items {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1.25rem;
  opacity: 0.7;
}

.side-info-items:hover {
  opacity: 0.9;
}

.side-info-items {
  --tw-text-opacity: 1;
  color: rgba(233, 255, 222, var(--tw-text-opacity));
}

.side-info-items:hover {
  --tw-text-opacity: 1;
  color: rgba(233, 255, 222, var(--tw-text-opacity));
}

.side-menu-button > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.side-menu-button {
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-items: center;
  justify-content: flex-start;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.375rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  text-transform: capitalize;
  width: 11rem;
}

.form-input {
  border-radius: 0.375rem;
  margin-bottom: 0.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input-popup .form-input {
  width: 100%;
}

.input-popup > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.input-popup {
  margin-top: 0.25rem;
  width: 100%;
}

.error-message {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  outline: 2px dotted black;
  outline-offset: 2px;
  padding: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 100%;
}

.settings-input {
  border-radius: 1rem;
  border-width: 2px;
  height: 1.75rem;
  width: 18rem;
}

.send-button {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 150, 136, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  font-weight: 500;
  margin-right: 1rem;
}

.send-button:disabled {
  opacity: 0.3;
}

.send-button {
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(233, 255, 222, var(--tw-text-opacity));
}

.transparent-textarea {
  background-color: transparent;
  border-style: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  overflow: hidden;
  resize: none;
}

.transparent-textarea:focus {
  --tw-ring-color: transparent;
}

.post-wrapper .post-body {
  word-break: break-all;
}

.post-wrapper .post-body hr, .post-hr, #editor hr {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 150, 136, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(0, 150, 136, var(--tw-border-opacity));
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
  height: 1px;
}

.post-hr {
  margin-top: 3rem;
}

#editor hr {
  width: 94%;
}

#editor p:first-letter, .post-wrapper .post-body p:first-letter {
  margin-left: 1.25rem;
}

#editor ul, .post-wrapper .post-body ul {
  list-style-position: inside;
  list-style-type: disc;
}

#editor ol, .post-wrapper .post-body ol {
  list-style-position: inside;
  list-style-type: decimal;
}

/* Post create */

/* end Post create */

.main-wrapper {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100vw;
}

@media (min-width: 640px) {
  .main-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
}

#editor blockquote, .post-wrapper .post-body blockquote {
  border-left: 5px solid #ccc;
  --tw-border-opacity: 1;
  border-color: rgba(0, 150, 136, var(--tw-border-opacity));
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}