.w-34r {
    width: 34rem;
}

w-1200 {
    width: 150rem;
}

.shadow-filter {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    @apply text-2xl mb-2 font-medium
}

h3 {
    @apply text-xl mb-2 font-medium
}

h4 {
    @apply text-lg font-medium
}

.w-content {
    width: fit-content;
}

.h-content {
    height: fit-content;
}

.create-post-wrapper ol {
    @apply list-decimal ml-3;
}

.create-post-wrapper ul {
    @apply list-disc ml-3;
}

/* post-full-width */

.post-full-width {
    min-width: 15rem;
    @apply bg-green-100 shadow-md mb-4 w-full rounded rounded-t-xl cursor-pointer;
}

.post-full-width .post-preview-image {
    @apply w-full h-32 md:h-40 object-cover rounded-t;
}

.post-full-width .post-body-wrapper {
    @apply p-3 pb-2 flex flex-col justify-between;
}

.post-full-width .post-body {
    @apply overflow-ellipsis overflow-hidden;
    max-height: 8rem;
}

.paragraph:first-letter {
    margin-left: 1rem;
}

.ellipsis {
    @apply overflow-ellipsis overflow-hidden;
}

.post-full-width .post-title {
    @apply font-bold text-sm sm:text-lg;
}

.post-full-width .post-footer {
    @apply flex justify-start w-full text-sm sm:text-base mt-1;
}

.post-full-width  .post-nickname {
    @apply mx-2 sm:mx-4 text-green-500 font-medium;
}

.post-full-width .post-views {
    @apply h-5 text-gray-500 w-10;
}

/* end post-full-width  */

/* post in search */


.search-wrapper {
    width: 30vw;
    min-width: 70px;
}

.result-wrapper {
    right: 35vw;
}

@media (min-width: 500px) {
    .result-wrapper {
        right: auto;
        @apply left-0
    }
}

.post-in-search {
    @apply relative z-10 flex flex-row rounded-lg p-3 my-3 h-32
    w-full text-black bg-green-100 shadow-md cursor-pointer;
    min-width: 330px;
    animation: search_animation 0.6s ease-out;
}

@screen sm {
    .post-in-search {
        min-width: 400px;
    }
}

.post-in-search .post-body {
    @apply block h-full w-auto text-sm align-text-top overflow-hidden mr-8 xl:mr-0;
}

.post-in-search .post-body .post-title {
    @apply overflow-ellipsis  pr-3 block max-h-full;
}

.post-in-search .post-footer {
    @apply flex justify-start mt-auto max-w-full pr-5;
}

.post-in-search .post-info {
    @apply mt-auto sm:text-xs lg:text-sm lg:flex
            lg:items-baseline space-x-2.5
}

.post-in-search .post-nickname {
    @apply ml-2 h-5 xl:h-5 text-green-500 mr-auto cursor-pointer
                mt-auto xl:text-base text-sm truncate;
}

.post-in-search .post-views {
    @apply h-5 text-gray-500 sm:mr-auto lg:mr-2.5
            mt-auto ml-1 w-1/2 lg:w-auto;
}

.post-in-search .post-star {
    @apply ml-auto absolute top-2 right-2 lg:bottom-2 lg:top-auto h-6;
}

/* end post in search */

/* right sidebar post */

.right-sidebar-post {
    @apply cursor-pointer w-72 h-24 flex flex-row bg-green-100 rounded my-3;
}

.right-sidebar-post .post-image {
    @apply w-5/6 h-5/6 m-auto rounded object-cover;
}

.right-sidebar-post .post-body {
    @apply w-2/3 p-2 flex flex-col justify-between;
}
.right-sidebar-post .post-title {
    @apply w-full pr-3 overflow-ellipsis overflow-hidden h-5/6 text-sm font-semibold;
}
.right-sidebar-post .post-info {
    @apply flex flex-row justify-between;
}

/* end right sidebar post */


.shadow-filter:hover {
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

body, html {
    font-family: 'Montserrat Alternates', sans-serif;
    @apply bg-green-500
}

.w-1\/10 {
    width: 10%;
}

.login-pop-up {
    width: 95vw;
    left: 2.5vw;
    max-height: 80vh;
}

@screen sm {
    .login-pop-up {
        width: 26rem;
        left: calc(47vw - 13.5rem);
    }
}

html {
    scroll-behavior: smooth;
    /*scrollbar-color: #458245 #714826;     !* «цвет ползунка» «цвет полосы скроллбара» *!*/
    /*scrollbar-width: thin;*/
}

::-webkit-scrollbar {
    width: .8rem; /* ширина для вертикального скролла */
    @apply bg-green-600;
}

body::-webkit-scrollbar-track {
    margin: 45px 0 20px;
}

    /* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    @apply bg-green-100 shadow-lg;
    box-shadow: inset 0 0 2px 1px rgba(0, 137, 123, 1);
    border: none;
    outline: none;
    /*background: rgba(233, 255, 222, 1);*/
    width: .6rem;
    border-radius: 4rem;
}

.invert-scrollbar::-webkit-scrollbar {
    @apply bg-green-100;
}

.invert-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-green-500;
}

header {
    min-width: 18rem;
    max-height: 45px;
    width: 100%;
    color: rgba(233, 255, 222, 1);
    background: #00897B;
}

.mint-font {
    font-family: 'Righteous', cursive;
}

#logo {
    @apply mint-font text-green-100;
}

.w-inherit {
    width: inherit;
}

.user_menu {
    @apply cursor-pointer rounded-full w-8 max-w-max;
}

a {
    @apply text-green-500 hover:text-green-400;
}

.bg-dark-green {
    background-color: #046D63;
}

#search::placeholder {
    font-weight: bold;
    color: rgba(233, 255, 222, 0.58);
}

#blackout {
    height: calc(100vh - 45px);
    margin-top: 45px;
    transition: 0.3s;
    z-index: 1;
}

@keyframes search_animation {
    from {
        margin-top: -300px;
        opacity: 0;
    }
    80% {
        @apply my-5;
    }
    to {
        @apply my-3;
        opacity: 1;
    }
}

.side-info-items {
    @apply text-xs font-bold opacity-70 text-green-100 leading-5 cursor-pointer hover:opacity-90 hover:text-green-100;
}

.side-menu-button {
    @apply flex justify-items-center justify-start rounded-lg w-44 text-white p-1.5 cursor-pointer space-x-1 capitalize text-xl ;
}

.form-input {
    @apply outline-none rounded-md mb-3;
}


.input-popup .form-input {
    @apply w-full;
}

.input-popup {
    @apply w-full space-y-1 mt-1;
}

.error-message {
    @apply w-full p-2 text-center bg-red-300 text-white rounded outline-black;
}

.settings-input {
    @apply rounded-2xl border-2 h-7 w-72;
}

.send-button {
    @apply rounded bg-green-500 p-2 mr-4 disabled:opacity-30 text-green-100 font-medium;
}

.transparent-textarea {
    @apply resize-none border-none overflow-hidden focus:ring-transparent outline-none bg-transparent;
}


.post-wrapper .post-body {
    @apply break-all;
}

.post-wrapper .post-body hr, .post-hr, #editor hr {
    @apply w-11/12 mx-auto bg-green-500 border-green-500 my-3;
    height: 1px;
}
.post-hr {
    @apply mt-12;
}

#editor hr {
    width: 94%;
}

#editor p:first-letter, .post-wrapper .post-body p:first-letter {
    @apply  ml-5;
}

#editor ul, .post-wrapper .post-body ul {
    @apply list-disc list-inside;
}

#editor ol, .post-wrapper .post-body ol {
    @apply list-decimal list-inside ;
}

/* Post create */


/* end Post create */

.main-wrapper {
    @apply w-screen sm:w-full flex flex-col rounded py-4 px-3 sm:px-8 relative;
}

#editor blockquote, .post-wrapper .post-body blockquote {
    border-left: 5px solid #ccc;
    @apply border-green-500 text-gray-600 font-bold;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}