@tailwind base;
@tailwind components;

.shadow-filter {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.shadow-filter:hover {
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

body, html {
    font-family: 'Montserrat Alternates', sans-serif;
    @apply bg-green-500
}

header {
    max-height: 45px;
    width: 100%;
    color: rgba(233, 255, 222, 1);
    background: #00897B;
}

#logo {
    font-family: 'Righteous', cursive;
}

.w-inherit {
    width: inherit;
}

.user_menu {
    @apply cursor-pointer rounded-full;
}

.bg-dark-green {
    background-color: #046D63;
}

#search::placeholder {
    font-weight: bold;
    color: rgba(233, 255, 222, 0.58);
}

#blackout {
    height: calc(100vh - 45px);
    margin-top: 45px;
    display: none;
    transition: 0.3s;
    z-index: 0;
}

.search-wrapper {
    width: 30vw;
    min-width: 270px;
}

@keyframes search_animation {
    from {
        margin-top: -300px;
        opacity: 0;
    }
    80% {
        @apply my-5;
    }
    to {
        @apply my-3;
        opacity: 1;
    }
}

.post_in_search {
    min-width: 270px;
    animation: search_animation 0.6s ease-out;
}

.side-info-items {
    @apply text-xs font-bold opacity-70 text-green-100 leading-5
}

.side-menu-button {
    @apply flex justify-items-center justify-start rounded-lg w-44 text-white p-1.5 cursor-pointer space-x-1 capitalize text-xl ;
}

@tailwind utilities;
